*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

.logo{
    width: 47px;
    cursor: pointer;
    margin-top: 15px;
}
.main_content{
    display: flex;
    height: 503px;
    margin-bottom: 20px;
}
.leftnav{
    background-color: black;
    width: 390px;
}
.utility{
    margin-top: 20px;
    background-color: rgb(65, 64, 64);
    /* background-color: #828282; */
    border-radius: 10px;
    height: 100px;
    width: 370px;
    margin-left: 10px;
}
.feather-home{
    margin-bottom: -5px;
}
.feather-search{
    margin-bottom: -7px;
}
.utility a{
    color: antiquewhite;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}
.search{
    margin-top: 10px;
}
.library{
    margin-top: 20px;
    background-color: rgb(65, 64, 64);
    /* background-color: #828282; */
    border-radius: 10px;
    height: 320px;
    width: 370px;
    margin-left: 10px;
    /* display: flex;
    align-items: center; */
}
.lib{
    color: antiquewhite;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 25px;
    font-weight: bold;
}
.bi-music-note-list{
    margin-bottom: -4px;

}
.songlist{
    height: 260px;
    width: 398px;
    overflow: auto;
}
.song_img{
    height: 40px;
    width: 40px;
    margin-left: 15px;
}
.song{
    display: flex;
    align-items: center;
    /* margin-left: 25px; */
    width: 370px;
    height: 55px;
}
.song p{
    color: antiquewhite;
    margin-left: 25px;
}
.song:hover{
    cursor: pointer;
    background-color: rgb(41, 41, 41);
}
.container{
    background-color: black;
    color: antiquewhite;
    border-radius: 15px;
    width: 880px;
    margin-top: 50px;
    /* background-image: url(background.png); */
    position: relative;
}
.main_bg{
    width: 880px;
    height: 465px;
    border-radius: 15px;
    opacity: 0.5;
}
.l1{
    position: absolute;
    top: 36px;
    left: 30px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
}

.l2{
    position: absolute;
    top: 128px;
    left: 30px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
}

.l3{
    position: absolute;
    top: 220px;
    left: 30px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
}

.l4{
    position: absolute;
    top: 312px;
    left: 30px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
}
span{
    color: deeppink;
}

.bottom{
    background-color: black;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: -46px; */
    
}
.icons, #ic{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 48px ; */
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin-bottom: -46px;
}

.feather-skip-back:hover{
    /* border: 2px solid white; */
    border-radius: 10px;
    color: black;
    background-color: antiquewhite;
    
    transition: 0.5s ease-in-out;
}

#range{
    width: 500px;
    margin-top: 45px;
}
