*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
}
.nav{
    display: flex;
    background-color: black;
    color: white;
    margin: 0;
}

.spotify{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.navright ul li{
    list-style: none;
   
}

.navright ul li a{
    color: white;
    text-decoration: none;
    margin-left: 45px;
}

.logo{
    height: 55px;
    width: 100px;
}
.navleft{
    margin-left: 110px;
    display: flex;
}

.navright{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 650px;
}
.container{
    min-height: 50vh;
}
.bottom{
    background-color: black;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.range{
    
}
